@{
    Layout = null;
    ViewData["Title"] = "Not Found";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Not Found</title>
    <style type="text/css">
        body {
            font-family: "Metal Mania",cursive;
            background: skyblue none repeat scroll 0 0;
        }

        .wrap {
            margin: 0 auto;
            width: 1000px;
        }

        .logo h1 {
            color: yellow;
            font-size: 200px;
            margin-bottom: 1px;
            text-align: center;
            text-shadow: 1px 1px 6px #555;
        }

        .logo p {
            color: white;
            font-size: 20px;
            margin-top: 1px;
            text-align: center;
        }

            .logo p span {
                color: lightgreen;
            }

        .sub a {
            background: #06afd8 none repeat scroll 0 0;
            color: yellow;
            font-family: arial,serif;
            font-size: 13px;
            font-weight: bold;
            padding: 5px;
            text-decoration: none;
        }

        .footer {
            bottom: 10px;
            color: white;
            position: absolute;
            right: 10px;
        }

            .footer a {
                color: yellow;
            }
    </style>
</head>

<body>
    <div class="wrap">
        <div class="logo">
            <h1>404</h1>
            <p>Sorry This was dead link - Page not Found</p>
            <div class="sub">
                <p><a href="/">Go Back to Home</a></p>
            </div>
        </div>
    </div>
</body>
</html>